.lottery {
    background-color: white;
    padding: 17px 12px 24px;
    border-radius: 3px;
    min-height: 368px;
    width: 298px;
    animation: feed 1s;
}

.lotteryButton {
    margin: 0 auto;
}

@keyframes feed {
    0% {opacity: 0}
    100% {opacity: 1}
}