.button {
    background: none;
    border: none;
    color: var(--dark-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:disabled {
        opacity: 0.64;
        cursor: default;
        pointer-events: none;
    }
}

.default {
    display: block;
    border-radius: 40px;
    border: 1px solid var(--dark-color);
    padding: 13px 21px;

    &:hover {
        box-shadow: var(--shadow);
    }
}

.number {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--white-color);
    margin: -1px -1px 0 0;

    &.selected {
        background-color: var(--selected-color);
        box-shadow: var(--shadow);
        border-color: transparent;
        width: 34px;
        height: 34px;
        margin: 2px 2px 3px 3px;
    }
}

.icon{
    &:hover {
        color: var(--selected-color);
        scale: 1.1;
    }
    &:active {
        scale: 0.9;
    }
}
